@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cinema Muzao</h1>
    <p>O melhor cinema da cidade, veja nossos filmes, premiações e diretores.</p>
</div>
